h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 58;
    color : pink;
}
h2{
    color:pink
}
ul{
    color:beige;
    list-style-position: inside;
    
}
hr{
    background-color: pink;
    height: 15px;
}

#Avatar {
    border-radius: 50%;
    box-shadow: 5px 10px 35px;
    width: 200px;
}

.container {
    text-align: center;
    border: 10px dashed purple;
    margin: 40px;
    background-color: palevioletred;

}